<mat-card class="home-card">
    <mat-card-header class="pb-15">
     
      <mat-card-title>School Library Management</mat-card-title>
      <mat-card-subtitle>For demo purpose</mat-card-subtitle>
      
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="py-30">
      <p>
       Uses .Net 7.0.0 Core SDK, Web API and Angular 15 as Client
      </p>
      <p>Just run the API server and Client UI </p>
      <p>Uses SQL server localdb, Just run it. Initial data will be inserted a HostedService</p>
    </mat-card-content>
    
  </mat-card>
